---
layout: default
---
<header>
  
  <div style="display:inline-block; min-width:2.9cm; vertical-align: middle;">
    <img src="../tatelogo.png">
  </div>

  <div style="display:inline-block; vertical-align: middle;">
    <h1 style="
              font-weight:bolder;
              font-size: 55px;
              font-family: Arial Black, sans-serif;
              letter-spacing: -5px;">
              {{ site.title }}
    </h1>
  </div>

  {%-if site.theme_config.show_description-%}
    <p style="font-size:89%; text-align: right;"><i>{{ site.description }} <a href={{ site.description_link }} target="_blank">{{ site.description_link_text }}</a></i></p>
  {%-endif-%}

</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}