---
layout: default
---
<header>
  
  <div style="display:inline-block; min-width:2.9cm; vertical-align: middle;">
    <img src="../tatelogo.png">
  </div>

  <div style="display:inline-block; vertical-align: middle;">
    <h1 style="vertical-align: middle;
              font-size: 60px;
              font-family: Arial Black, sans-serif;
              letter-spacing: -5px;
              margin-top: 0px;
              margin-bottom: 0px;">
              {{ site.title }}
    </h1>
  </div>

  {%-if site.theme_config.show_description-%}
    <p style="font-size:89%; 
              text-align: right;
              margin-top: 10px;
              margin-bottom: 50px;">
      <i>{{ site.description }} 
        <a href={{ site.description_link }} target="_blank">
          {{ site.description_link_text }}

        </a>
      </i>
    </p>
  {%-endif-%}

</header>

<!-- I was able to automate this without hardcoding
but for some reason when code was pushed to GitHub
the order of the menus was different from on my machine...-->

{%-include menu_item.html collection=site.data.links.entries-%}
{%-include menu_item.html collection=site.data.posts.entries-%}
{%-include menu_item.html collection=site.data.opensource.entries-%}
{%-include menu_item.html collection=site.data.projects.entries-%}
{%-include menu_item.html collection=site.data.contributions.entries-%}
{%-include menu_item.html collection=site.data.educational.entries-%}
{%-include menu_item.html collection=site.data.contact.entries-%}
{%-include menu_item.html collection=site.data.about.entries-%}
{%-include menu_item.html collection=site.data.rss.entries-%}

{{ content }}