---
layout: default
---

<!-- prettier-ignore-start -->
<header>
  <div style="display: inline-block; min-width: 2.9cm; vertical-align: middle">
    <img src="../tatelogo.png" alt="Tate Logo" />
  </div>

  <div style="display: inline-block; vertical-align: middle">
    <h1
      style="
        vertical-align: middle;
        font-size: 60px;
        font-family: 'Arial Black', sans-serif;
        letter-spacing: -5px;
        margin-top: 0;
        margin-bottom: 0;
      "
    >
      {{ site.title }}
    </h1>
  </div>

  {%- if site.theme_config.show_description -%}
  <p
    style="
      font-size: 89%;
      text-align: right;
      margin-top: 10px;
      margin-bottom: 50px;
    "
  >
    <i>
      {{ site.description }}
      <a href="{{ site.description_link }}" target="_blank">
        {{ site.description_link_text }}
      </a>
    </i>
  </p>
  {%- endif -%}
</header>

{%- include menu_item.html collection=site.data.links.entries -%} {%- include
menu_item.html collection=site.data.posts.entries -%}

<div id="container">
  <div id="left-col">
    {%- include menu_item.html collection=site.data.projects.entries -%}
  </div>
  <div id="right-col">
    {%- include menu_item.html collection=site.data.about.entries -%} {%-
    include menu_item.html collection=site.data.opensource.entries -%} {%-
    include menu_item.html collection=site.data.educational.entries -%} {%-
    include menu_item.html collection=site.data.contact.entries -%}
  </div>
</div>

{{ content }}
<!-- prettier-ignore-end -->
